<!doctype html>
<html lang="en">
  <%- include('../partials/head', { title: 'Form Choose Subject' }) %>
  <body>
    <%- include('../partials/navbar') %>
    <br><br><br>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <table class="table">
            <tbody>
              <tr>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
              </tr>
              <tr>
                <td><%= data.first_name %></td>
                <td><%= data.last_name %></td>
                <td><%= data.email %></td>
              </tr>
            </tbody>
          </table>

          <h5>Choose Subject</h5>
          <form action="/students/<%= data.id %>/add-subject" method="POST">
            <select class="form-control" name="subject_name">
              <% subject.forEach(dataSubject => { %>
                <option><%= dataSubject.subject_name %></option>
              <% }) %>
            </select>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          
        </div>
      </div>
    </div>

    <%- include('../partials/script') %>
  </body>
</html>