<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register Student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <%- include('../partials/style/tableStyles.ejs') %>
</head>
<body>
    <%- include('../partials/header/nav.ejs', {title: 'Add Subject To Students', titleUrl: 'students/', subTitle:'Data Students'}) %>
    <table style="width:100%">
        <tr>
            <th>First Name:</th>
            <td><%= dataStudents.firstName %></td>
        </tr>
        <tr>
            <th>Last Name:</th>
            <td><%= dataStudents.lastName %></td>
        </tr>
        <tr>
            <th>Email:</th>
            <td><%= dataStudents.email %></td>
        </tr>
    </table>
    <h2>Add Subject To Students</h2>
    <form action="/students/<%= dataStudents.id %>/add-subject" method="POST">
        <select name="SubjectId">
            <% dataSubjects.forEach(elementSubject => { %>
                <option value="<%= elementSubject.id %>"><%= elementSubject.subjectName %></option>
            <%   }) %>
        </select><br><br>
        <input type="submit" value="Add Subject">
    </form>
</body>
</html>