<%- include('../partials/header.ejs')%>
<br>
<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>
  </thead>
    <tbody>
    <tr>
      <td><%= student.first_name%></td>
      <td><%= student.last_name%></td>
      <td><%= student.email%></td>
    </tr>
    </tbody>
  </table>
  <br>
  <h5>Choose Subject</h5>
  <br>
  <form action="/students/<%= student.id %>/add-subject" method="POST">
  <select name = "SubjectId">
  <% subjects.forEach( subject => { %>
    <option value="<%= (subject.id) %>"><%= subject.subject_name %></option>
  <% }) %>
  </select>
  <br>
  <br>
  <button type="submit">Add Subject</button>
  </form>
  <br>
  </body>
</html>