<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Add Subject to Student</h1>
    <%- include('../partials/styleTable') %>
        <table>
            <tr>
                <td>
                    First Name
                </td>
                <td>
                    <%= dataStudent.firstName%>
                </td>
            </tr>
            <tr>
                <td>
                    Last Name
                </td>
                <td>
                    <%= dataStudent.lastName%>
                </td>
            </tr>
            <tr>
                <td>
                    Email
                </td>
                <td>
                    <%= dataStudent.email%>
                </td>
            </tr>
        </table>
        <h3>Choose Subject</h3>
        <form action="/student/<%= dataStudent.id %>" method="POST">
            <select name="subjectId">
                <% dataSubject.forEach(function(subject){%>
                    <option value="<%= subject.id %>">
                        <%= subject.subjectName%>
                    </option>
                    <%})%>
            </select>
            <input method="post" type="submit" value="Add Subject">
        </form>
</body>

</html>