<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add subject to Student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>
    <center>
        <h1>Add Subject to Student</h1>
    </center>
    First Name :
    <%= dataStudent.firstName %><br> 
    Last Name :
    <%= dataStudent.lastName%><br>
    Email :
    <%= dataStudent.email %><br>
    <b>Choose Subject</b><br>
    <select name="subject" form="submit">
        <% for(let i = 0 ; i < dataSubject.length ; i++){ %>
            <option value="<%=dataSubject[i].id %>">
                <%= dataSubject[i].name %>
            </option>
        <% } %>
    </select>
                <form action="/students/<%=dataStudent.id%>/add-subject" id="submit" method="POST">
                    <input type="submit" value="submit">
                </form>
</body>

</html>