<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Subjects Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="navbar">
        <%- include('../../partials/header.ejs') -%>
    </div>
    <div class="container">
        <div class="vertical-center-row">
            <div align="center">
                <h2>Students & Subject List</h2>
                <h3>
                    <%= studentsubjectData[0].subjectName %>
                </h3>
            </div>
        </div>
    </div>
    <div class="container">
        <table class="table table-bordered">
            <tr>
                <th>Student ID</th>
                <th>Name</th>
                <th>Give Score</th>

            </tr>
            <% studentsubjectData[0].Students.forEach(studentsubject => { %>
                <tr>
                    <td>
                        <%= studentsubject.id %>
                    </td>
                    <td>
                        <%= studentsubject.firstName %>
                            <%= studentsubject.lastName %>
                    </td>
                    <% if (studentsubject.StudentSubject.Score !== null) { %>
                    <td>
                        
                        <%= studentsubject.StudentSubject.Score %>
                    </td>
                    <% } else { %>
                        <td>
                                <a href="/subjects/<%= studentsubjectData[0].id %>/give-score/<%=studentsubject.id%>">Score
                                </a>
                        
                    </td>
                    <% } %>
                     
                </tr>
                <% }) %>
    </div>
    </table>

    <br>
    <div class="btn-group">
        <div align="center">
            <a href="/" class="btn btn-primary" role="button">Back to Home</a>
            </button>
            <a href="/subjects" class="btn btn-primary" role="button">Back to Subjects List</a>
            </button>
        </div>
    </div>
</body>

</html>