<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center">
        <h1>Edit Student</h1>
        <a href="/students">Students Data</a>
        
        <% if(err !== null){%>
            <div class="container">
                <div class="alert alert-danger" role="alert">
                    <%= err.message %>
                </div>
            </div>
        <%}%>
    </div>
    
    <div class="container">
        <form action="/students/<%=data_student.id%>/edit" onsubmit="return confirm('are you sure want to edit this data?')" method="POST">
            <label for="">First Name</label>
            <input type="text" name="firstName" value="<%=data_student.firstName%>" class="form-control">
            
            <label for="">Last Name</label>
            <input type="text" name="lastName" value="<%=data_student.lastName%>" class="form-control">

            <label for="">Email</label>
            <input type="email" name= "email" value="<%=data_student.email%>" class="form-control">

            <br>
            <button class="btn btn-warning">Submit</button>
        </form>
    </div>
</body>
</html>